<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="login-page" prn-bg-light prn-scrollbar-y-auto>
  <div class="logo">
    <img src="assets/img/logo/plirono-logo.svg" alt="Plirono logo">
  </div>

  <ion-card padding-bottom prn-column-center>
    <form #loginForm="ngForm" novalidate>
      <ion-list no-lines>
        <ion-item>
          <ion-label floating color="primary">Username</ion-label>
          <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        <p [hidden]="username.valid || submitted == false" ion-text color="danger" padding-left>
          Username is required
        </p>
        <ion-item>
          <ion-label floating color="primary">Password</ion-label>
          <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
          </ion-input>
        </ion-item>
        <p [hidden]="password.valid || submitted == false" ion-text color="danger" padding-left>
          Password is required
        </p>
      </ion-list>

      <ion-row responsive-sm margin-top prn-flex-center>
        <ion-col prn-max-width-sm>
          <button ion-button (click)="onLogin(loginForm)" type="submit" block prn-shadow-none>Login</button>
        </ion-col>
        <ion-col prn-max-width-sm>
          <button ion-button (click)="onSignup()" outline block>Signup</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
